@model PagedResultDto<Student>
@{ ViewBag.Title = "学生列表页面";}
<h1>学生列表</h1>
<form asp-action="index" method="get">
    <div class="form-actions no-color">
        <input type="hidden" name="CurrentPage" value="@Model.CurrentPage" />
        <input type="hidden" name="Sorting" value="@Model.Sorting" />
        <p>
            请输入名称：
            <input type="text" name="FilterText" value="@Model.FilterText" />
            <input type="submit" value="查询" class="btn btn-outline-dark" />
            <a asp-action="index">返回所有列表</a>
            <a asp-action="create">添加学生</a> 
        </p>
    </div>
</form>

<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">头像</th>
                <th scope="col" class="sort-link">
                    <a asp-action="index" asp-route-Sorting="Name" asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">名字</a>
                    <a class="pl-3" asp-action="index" asp-route-Sorting="Name desc" asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">降序</a>
                </th>
                <th>
                    <a asp-action="index" asp-route-Sorting="Email"asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">电子邮箱</a>
                    <a class="pl-3" asp-action="index" asp-route-Sorting="Email desc"asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">降序</a>
                </th>
                <th scope="col">
                    <a asp-action="index" asp-route-Sorting="Major"asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">主修科目</a>
                    <a class="pl-3" asp-action="index" asp-route-Sorting="Major desc"asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">降序</a>
                </th>
                <th scope="col">
                    <a asp-action="index" asp-route-Sorting="EnrollmentDate"asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">入学时间</a>
                    <a class="pl-3" asp-action="index" asp-route-Sorting="EnrollmentDate desc"asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">降序</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in Model.Data)
            {

                var photoPath= "~/images/noimage.png";
                if (student.PhotoPath != null)
                {
                    photoPath = "~/images/avatars/" + student.PhotoPath;
                }
                <tr>
                    <td>
                        <img class="table-img img-thumbnail" width="64" height="64" src="@photoPath" asp-append-version="true" />
                    </td>
                    <th scope="row" >@student.Name</th>
                    <td>@student.Email</td>

                    <td>@student.Major.GetDisplayName()</td>
                    <td>@student.EnrollmentDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <form method="post" asp-action="DeleteStudent" asp-route-id="@student.Id">

                            <a asp-controller="home" asp-action="details" asp-route-id="@student.EncryptedId" class="btn btn-info">查看</a>
                            <a asp-controller="home" asp-action="edit" asp-route-id="@student.EncryptedId" class="btn btn-primary m-1">编辑</a>
                            <span id="confirmDeleteSpan_@student.Id" style="display:none">
                                <span>您确定要删除吗？</span>
                                <button type="submit" class="btn btn-danger">是</button>
                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@student.Id',false)">否</a>
                            </span>
                            <span id="deleteSpan_@student.Id">
                                <a href="#" class="btn btn-danger" onclick="confirmDelete('@student.Id',true)">删除</a>
                            </span>
                        </form> 
                    </td>
                </tr>
            } 
        </tbody>
    </table>@await Html.PartialAsync("_Pagination")
</div>   
<div>
    <ul class="pagination">
        <li class="page-item @(!Model.ShowFirst?"disabled":"")">
            <a asp-route-CurrentPage="1" class="page-link" asp-route-FilterText="@Model.FilterText" asp-route-Sorting="@Model.Sorting"><i class="fa fa-fast-backward"></i></a>
        </li>
        <li class="page-item @(!Model.ShowPrevious?"disabled":"")">
            <a asp-route-CurrentPage="@(Model.CurrentPage - 1)" asp-route-FilterText="@Model.FilterText" asp-route-Sorting="@Model.Sorting" class="page-link"><i class="fa fa-step-backward"></i></a>
        </li>
        <li class="page-item @(!Model.ShowNext?"disabled":"")">
            <a asp-route-CurrentPage="@(Model.CurrentPage + 1)" asp-route-FilterText="@Model.FilterText" asp-route-Sorting="@Model.Sorting" class="page-link"><i class="fa fa-step-forward"></i></a>
        </li>
        <li class="page-item @(!Model.ShowLast?"disabled":"")">
            <a asp-route-CurrentPage="@(Model.TotalPages)" asp-route-FilterText="@Model.FilterText" asp-route-Sorting="@Model.Sorting" class="page-link"><i class="fa fa-fast-forward"></i></a>
        </li>
    </ul>
</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}

<script>
    let a = 6;
    let b = 9;

    function simpleTag(strings, va,vb,vsum) {
        console.log(strings);
        console.log(va);
        console.log(vb);
        console.log(vsum);

        return 'foobar';
    }

    let untaggedResult = `${ a }+${ b }=${ a + b }`;
    let taggedResult = simpleTag`${ a }+${ b }=${ a + b }`;

    console.log(untaggedResult);
    console.log(taggedResult);


    function greet(arg1, arg2, arg3) {
        console.log(arg1);
        console.log(arg2);
        console.log(arg3);
    }
    var name = 'lmh';
    var age = 41;
    // 普通函数
    greet(["I'm ", ". I'm ", " years old."], name, age);

    // tag 函数
    greet`I'm ${name}. I'm ${age} years old.`;


    /////////// Symbol 作为属性
    let s1 = Symbol('foo'),
        s2 = Symbol('bar'),
        s3 = Symbol('baz'),
        s4 = Symbol('qux');

    let o = { [s1]: 'foo val' };
    //这样也可以
    o[s1] = 'foo val';
    console.log(o);

    Object.defineProperty(o, s2, { value: 'bar val' });
    console.log(o);

    Object.defineProperties(o, {
        [s3]: { value: 'baz val' },
        [s4]: { value: 'qux val' }
    });
    console.log(o);
   
</script>