@model PagedResultDto<Course>
@{ ViewBag.Title = "课程列表页面";}
<h1>课程列表</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <input type="hidden" value="@Model.CurrentPage" name="CurrentPage" />
        <input type="hidden" name="Sorting" value="@Model.Sorting" />
        <p>
            请输入名称：
            <input type="text" name="FilterText" value="@Model.FilterText" />
            <input type="submit" class="btn btn-outline-dark" value="查询" />
            <a asp-action="index">返回所有列表</a>
            <a asp-action="create">添加</a>
        </p>
    </div>
</form>

<div class="table-responsive-sm">
    @if (Model.Data.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col" class="sort-link">
                        <a asp-action="index" asp-route-Sorting="CourseID" asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">
                            课程编号
                        </a>
                    </th>
                    <th>
                        <a asp-action="index" asp-route-Sorting="Title" asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">
                            课程名称
                        </a>
                    </th>
                    <th>
                        <a asp-action="index" asp-route-Sorting="Credits" asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">
                            课程学分
                        </a>
                    </th>
                    <th>
                        <a asp-action="index" asp-route-Sorting="Department" asp-route-CurrentPage="@Model.CurrentPage" asp-route-FilterText="@Model.FilterText">
                            学院
                        </a>
                    </th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Data)
                {
                    <tr>
                        <td>@item.CourseID</td>
                        <td>@item.Title</td>
                        <td>@item.Credits</td>
                        <td>@item.Department.Name</td>
                        <td>
                            <form method="post" asp-action="Delete" asp-route-id="@item.CourseID">
                                <a asp-controller="Course" class="btn btn-info" asp-action="Details" asp-route-id="@item.CourseID">
                                    查看
                                </a>
                                <a asp-controller="Course" class="btn btn-primary m-1" asp-action="Edit" asp-route-id="@item.CourseID">
                                    编辑
                                </a>
                                <span id="confirmDeleteSpan_@item.CourseID" style="display:none">
                                    <span>您确定要删除吗？</span>
                                    <button type="submit" class="btn btn-danger">是</button>
                                    <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.CourseID',false)">否</a>
                                </span>
                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.CourseID', true)">删除</a>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } @await Html.PartialAsync("_Pagination")
    @*另一种调用分部视图的方式*@
    @*<partial name="_Pagination" />*@
</div>

@section Scripts{ 
    <script src="~/js/CustomScript.js" asp-append-version="true"></script>
}